$editable-table-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif !default;
$editable-table-bg-color: #ffffff !default;
$editable-table-fg-color: #303030 !default;
$editable-table-accent-color: #0080f0 !default;

.editable-table {
  background-color: $editable-table-bg-color;
  border: 2px solid mix($editable-table-bg-color, $editable-table-fg-color, 75%);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  &[data-focus="true"] {
    border-color: $editable-table-accent-color;
  }

  // ======== All Elements ========

  &, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  // ======== Scroller ========

  &__scroller {
    overflow: auto;
    position: relative;
    z-index: 0;
  }

  // ======== TABLE ========

  table {
    border-spacing: 0;
  }

  // ======== TBODY ========

  tbody {
    overflow: auto;
  }

  // ======== TH and TD ========

  th,
  td {
    border-right: 1px solid mix($editable-table-bg-color, $editable-table-fg-color, 75%);
    border-bottom: 1px solid mix($editable-table-bg-color, $editable-table-fg-color, 75%);
    cursor: default;
    font-family: $editable-table-font-family;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.5rem;
    user-select: none;
  }

  // ======== TH ========

  th {
    background-color: mix($editable-table-bg-color, $editable-table-fg-color, 87.5%);
    color: $editable-table-fg-color;
    font-weight: 700;
    position: sticky;
    white-space: nowrap;

    // Edge で position: sticky; にした th で border が表示されない不具合への対処
    // SEE: https://qiita.com/h-koeda/items/3b4c6a465ff4f81c16dc
    _:-ms-lang(x), & {
      background-clip: padding-box;
    }
  }
  thead {
    th {
      z-index: 2;
    }

    tr:first-child th:first-child {
      left: 0;
      z-index: 3;
    }
  }
  tbody th {
    left: 0;
    z-index: 1;
  }

  // ======== TD ========

  tr td {
    background-color: $editable-table-bg-color;
    color: $editable-table-fg-color;
    position: relative;
    white-space: pre;
  }
  tr:nth-child(even) td {
    background-color: mix($editable-table-bg-color, $editable-table-fg-color, 93.75%);
  }
  tr td[data-cursor="true"] {
    background-color: $editable-table-accent-color;
    color: $editable-table-bg-color;
  }
  &[data-focus="false"] tr td[data-cursor="true"] {
    background-color: mix($editable-table-bg-color, $editable-table-accent-color, 50%);
  }
  &[data-inputting="true"] tr td[data-cursor="true"] {
    padding: 0;
  }

  // ======== Boolean Type ========

  tr td[data-type="boolean"] {
    cursor: pointer;
    &[data-cursor="false"]:hover {
      color: $editable-table-accent-color;
    }

    &::before {
      background-color: $editable-table-fg-color;
      content: "";
      display: block;
      margin: 0 auto;
      mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23000000" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" /></svg>');
      width: 1rem;
      height: 1rem;
    }
    &[data-checked="false"]::before {
      opacity: 0.125;
    }
    &[data-cursor="true"]::before {
      background-color: $editable-table-bg-color;
    }
  }

  // ======== Number and Text Type ========

  td input[type="text"],
  td textarea {
    appearance: none;
    background-color: $editable-table-bg-color;
    border-style: none;
    color: $editable-table-fg-color;
    display: block;
    font-family: $editable-table-font-family;
    font-size: 1rem;
    outline: 2px solid $editable-table-accent-color;
    position: relative;
    z-index: 3;
  }

  // ======== Number Type ========

  tr td[data-type="number"] {
    text-align: right;
  }

  td input[type="text"] {
    padding: 0 0.5rem;
  }

  // ======== Text Type ========

  td textarea {
    line-height: 1.15;
    height: 100%;
    overflow: hidden;
    overflow-wrap: normal;
    padding: 0.5rem;
    resize: none;
    word-break: keep-all;
    white-space: pre-line;
    word-break: keep-all;
  }

  // ======== Button Extension ========

  tr td[data-extension="button"] {
    cursor: pointer;
    padding: 0.25rem;

    div {
      background-color: $editable-table-bg-color;
      border: 1px solid mix($editable-table-bg-color, $editable-table-fg-color, 75%);
      border-radius: 4px;
      color: $editable-table-fg-color;
      cursor: pointer;
      padding: 0.2rem 0.5rem; // NOTICE: `0.25rem` だと Chrome でズレる
      text-align: center;
      &:hover {
        background-color: mix($editable-table-bg-color, $editable-table-accent-color, 87.5%);
      }
    }
  }

  // ======== Link Extension ========

  tr td[data-extension="link"] {
    cursor: pointer;

    a {
      color: $editable-table-accent-color;
      &:hover {
        text-decoration: none;
      }
    }
    &[data-cursor="true"] a {
      color: $editable-table-bg-color;
    }
  }

  // ======== Select Extension ========

  tr td[data-extension="select"] {
    padding-right: 1.5rem;

    &::after {
      background-color: $editable-table-fg-color;
      content: "";
      display: block;
      mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23000000" d="M1,2H23L12,21" /></svg>');
      opacity: 0.125;
      position: absolute;
      top: calc(50% - 0.5rem);
      right: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
    &[data-cursor="true"]::after {
      background-color: $editable-table-bg-color;
    }
  }

  // ======== Listbox ========

  &__listbox {
    background-color: $editable-table-bg-color;
    border: 2px solid $editable-table-accent-color;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: $editable-table-fg-color;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    z-index: 4;

    li {
      cursor: pointer;
      font-family: $editable-table-font-family;
      padding: 0.25rem 0.5rem;
      user-select: none;
      &:hover {
        background-color: mix($editable-table-bg-color, $editable-table-accent-color, 87.5%);
      }
      &[data-selected="true"] {
        background-color: $editable-table-accent-color;
        color: $editable-table-bg-color;
      }
    }
  }
}
